<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8342495688-ec6lqjp6f92sfbj72n1n1ctea3hlrm4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8342495688-ec6lqjp6f92sfbj72n1n1ctea3hlrm4f</string>
	<key>API_KEY</key>
	<string>AIzaSyD0coV4MoCAurVwEvdnfwgSeXd3VyNnE0c</string>
	<key>GCM_SENDER_ID</key>
	<string>8342495688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noyancepikkurt.BusBus</string>
	<key>PROJECT_ID</key>
	<string>busbus-9a6a3</string>
	<key>STORAGE_BUCKET</key>
	<string>busbus-9a6a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8342495688:ios:fb96e15de3d2183d1720fd</string>
</dict>
</plist>